In [53]:
import pandas as pd
import numpy as np
from pycaret.regression import *
from sklearn.model_selection import train_test_split

In [54]:
df = pd.read_csv('./archive/Mall_Customers.csv')

In [55]:
df

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [56]:
df["Gender"]=df["Gender"].apply(lambda x: 0 if x=="Male" else 1)
df["Income"]= df["Annual Income (k$)"]
df.drop(["Annual Income (k$)"], axis=1, inplace=True)

In [57]:
df

     CustomerID  Gender  Age  Spending Score (1-100)  Income
0             1       0   19                      39      15
1             2       0   21                      81      15
2             3       1   20                       6      16
3             4       1   23                      77      16
4             5       1   31                      40      17
..          ...     ...  ...                     ...     ...
195         196       1   35                      79     120
196         197       1   45                      28     126
197         198       0   32                      74     126
198         199       0   32                      18     137
199         200       0   30                      83     137

[200 rows x 5 columns]

In [58]:
X = df.drop(["CustomerID","Spending Score (1-100)"],axis=1)
y = df["Spending Score (1-100)"]

In [59]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [60]:
reg = setup(data = df, target = 'Spending Score (1-100)', session_id=123)

In [61]:
best = compare_models()

Processing:   0%|          | 0/85 [00:00<?, ?it/s]

In [63]:
best

LGBMRegressor(n_jobs=-1, random_state=123)

In [62]:
model = create_model(best)
create_api(model, 'teste_api')

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

API successfully created. This function only creates a POST API, it doesn't run it automatically. To run your API, please run this command --> !python teste_api.py